.entry-title a{
    color: white !important;
    font-family: "Overpass Mono", monospace !important;
}

.entry-title a:hover{
    color: #2962ff !important;
    text-decoration: none !important;
    background-color: transparent !important;
    -webkit-text-decoration-skip: objects !important;
}

.penci-single-artcontent{
    font-family: "Roboto Mono", monospace !important;
    color: white;
}

.penci-block__title{
    font-family: "Roboto Mono", monospace !important;
    color: white;
    font-size: 24px !important;
    font-weight: 400 !important;
}

.penci-block__title a{
    text-decoration: none !important;
}

.form-submit{
    margin-bottom: 2% !important;
    margin-top: 1% !important;
}
/*.entry-media__content{*/
    /*background: transparent;*/
    /*width: 100%;*/
    /*z-index: 10;*/
    /*position: absolute;*/
    /*bottom: -22%;*/
/*}*/

.penci-byline{
    color: white !important;
    font-family: 'Overpass Mono', monospace !important;
}

.published{
    color: white !important;
    font-family: 'Overpass Mono', monospace !important;
}

.penci-post-countview-number{
    color: white !important;
    font-family: 'Overpass Mono', monospace !important;
}

.penci-posted-on{
    color: white !important;
    font-family: 'Overpass Mono', monospace !important;
}

.penci-post-countview{
    color: white !important;
    font-family: 'Overpass Mono', monospace !important;
}

.comment-form{
    font-family: 'Overpass Mono', monospace !important;
}

.comment-form-cookies-consent{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4rem;
    color: #aaaaaa;
}

h1.page-title{
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 700 !important;
    font-size: 3rem !important;
}

h2.entry-title a{
    font-family: 'Roboto Mono', monospace !important;
    color: #ffffff !important;
    font-size: 18px !important;
}

.submit{
    font-family: 'Roboto Mono', monospace;
}

.penci-author-content h5 a{
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1.4rem !important;
    color: white !important;
}

.author-description{
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1.4rem;
    color: #8a8a8a !important;
}

.penci-page-style-5 .penci-active-thumb .penci-container, .penci-single-style-5 .penci-active-thumb .penci-container {
    clear: both;
}

.widget .search-form .search-field{
    width: 135% !important;
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1.3rem;
}

/*.entry-media__content {*/
    /*background: transparent !important;*/
    /*width: 100% !important;*/
    /*z-index: 10 !important;*/
    /*position: absolute !important;*/
    /*bottom: -100% !important;*/
/*}*/

#penci-ad_box--34697 .penci-promo-item.penci-banner-has-text:after {
    content: none !important;
}

#penci_block_6__79102493 .penci-subcat-filter .penci-subcat-item a, #penci_block_6__79102493 .penci-subcat-list .flexMenu-viewMore > a {
    font-family: "Roboto" !important;
    font-weight: 400 !important;
}

@media screen and (min-width: 768px ) {
}

#penci_block_23__51985344 .penci-subcat-filter .penci-subcat-item a, #penci_block_23__51985344 .penci-subcat-list .flexMenu-viewMore > a {
    font-family: "Roboto";
    font-weight: 400;
}

#penci_block_23__51985344.penci-block-vc .penci-cat-name {
    font-family: "Roboto";
    font-weight: 400;
}

#penci_block_23__51985344 .penci-pmore-link .more-link {
    font-family: "Mukta Vaani";
    font-weight: 400;
}

@media screen and (min-width: 768px ) {
    #penci_block_23__51985344 .penci__post-title {
        font-size: 13px !important;
    }
}

@media screen and (min-width: 768px ) {
    #penci_block_23__51985344 .block23_first_item .penci__post-title {
        font-size: 18px !important;
    }
}

@media screen and (min-width: 1440px) {
    .penci-container-fluid, .two-sidebar .site-main .penci-container {
        max-width: 1430px;
    }
}

@media only screen and (max-width: 650px) {
    .entry-title{
        margin-left: 2%;
    }
}

@media (min-width: 651px) and (max-width: 768px) {
    .entry-title{
        margin-left: 6%;
    }
}

.entry-meta{
    font-size: 1.2rem !important;
    font-family: 'Roboto Mono', monospace !important;
    color: #999999 !important;
}

body#LoginForm{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}
.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px;
}

.login-form .form-group {
    margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
}
.login-form  .btn.btn-primary {
    background: #f0ad4e none repeat scroll 0 0;
    border-color: #f0ad4e;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}
.forgot {
    text-align: left; margin-bottom:30px;
}
.botto-text {
    color: #ffffff;
    font-size: 14px;
    margin: auto;
}
.login-form .btn.btn-primary.reset {
    background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}