.entry-title a{
    color: white !important;
    font-family: "Overpass Mono", monospace !important;
}

.penci-single-artcontent{
    font-family: "Roboto Mono", monospace !important;
    color: white;
}

@media only screen and (max-width: 650px) {
    .entry-title{
        margin-left: 2%;
    }
}

@media (min-width: 651px) and (max-width: 768px) {
    .entry-title{
        margin-left: 6%;
    }
}